{% extends 'user_profile/auth-base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

    <form class="form-horizontal m-t-20" method="post">
        {% csrf_token %}
        <div class="row">
            {% for field in form %}
                <div class="col-6">
                    <div class="form-group">
                        {% if field.label %}
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {% endif %}
                        {{ field }}
                        <div class="invalid-feedback- text-danger"><small>{{ field.errors }}</small></div>
                        {% if field.help_text %}
                            <div><small>{{ field.help_text }}</small></div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="form-group text-center ">
            <div class="col-xs-12 p-b-20 ">
                <button class="btn btn-block btn-lg btn-info " type="submit ">{% trans 'Войти' %}</button>
            </div>
        </div>
        <div class="form-group m-b-0 m-t-10 ">
            <div class="col-sm-12 text-center ">
                <a href="{% url 'user:forgot-password' %}" class="text-info m-l-5 ">
                    <b>{% trans 'Забыли пароль?' %}</b>
                </a>
            </div>
        </div>
    </form>

{% endblock content %}

{% block footer_scripts %}{% endblock footer_scripts %}