
 @font-face {
   font-family: "HelveticaRegular";
   src: url("/fonts/Helvetica/HelveticaRegular/HelveticaRegular.eot");
   src: url("/fonts/Helvetica/HelveticaRegular/HelveticaRegular.eot?#iefix")format("embedded-opentype"),
   url("/fonts/Helvetica/HelveticaRegular/HelveticaRegular.woff") format("woff"),
   url("/fonts/Helvetica/HelveticaRegular/HelveticaRegular.ttf") format("truetype");
   font-style: normal;
   font-weight: normal;
 }

 @font-face {
   font-family: "HelveticaBold";
   src: url("/fonts/Helvetica/HelveticaBold/HelveticaBold.eot");
   src: url("/fonts/Helvetica/HelveticaBold/HelveticaBold.eot?#iefix")format("embedded-opentype"),
   url("/fonts/Helvetica/HelveticaBold/HelveticaBold.woff") format("woff"),
   url("/fonts/Helvetica/HelveticaBold/HelveticaBold.ttf") format("truetype");
   font-style: normal;
   font-weight: normal;
 }

 @font-face {
   font-family: "HelveticaItalic";
   src: url("/fonts/Helvetica/HelveticaItalic/HelveticaItalic.eot");
   src: url("/fonts/Helvetica/HelveticaItalic/HelveticaItalic.eot?#iefix")format("embedded-opentype"),
   url("/fonts/Helvetica/HelveticaItalic/HelveticaItalic.woff") format("woff"),
   url("/fonts/Helvetica/HelveticaItalic/HelveticaItalic.ttf") format("truetype");
   font-style: normal;
   font-weight: normal;
 }

 @font-face {
   font-family: "HelveticaLight";
   src: url("/fonts/Helvetica/HelveticaLight/HelveticaLight.eot");
   src: url("/fonts/Helvetica/HelveticaLight/HelveticaLight.eot?#iefix")format("embedded-opentype"),
   url("/fonts/Helvetica/HelveticaLight/HelveticaLight.woff") format("woff"),
   url("/fonts/Helvetica/HelveticaLight/HelveticaLight.ttf") format("truetype");
   font-style: normal;
   font-weight: normal;
 }

 @font-face {
   font-family: "HelveticaBlack";
   src: url("/fonts/Helvetica/HelveticaBlack/HelveticaBlack.eot");
   src: url("/fonts/Helvetica/HelveticaBlack/HelveticaBlack.eot?#iefix")format("embedded-opentype"),
   url("/fonts/Helvetica/HelveticaBlack/HelveticaBlack.woff") format("woff"),
   url("/fonts/Helvetica/HelveticaBlack/HelveticaBlack.ttf") format("truetype");
   font-style: normal;
   font-weight: normal;
 }

 @font-face {
   font-family: "HelveticaHeavy";
   src: url("/fonts/Helvetica/HelveticaHeavy/HelveticaHeavy.eot");
   src: url("/fonts/Helvetica/HelveticaHeavy/HelveticaHeavy.eot?#iefix")format("embedded-opentype"),
   url("/fonts/Helvetica/HelveticaHeavy/HelveticaHeavy.woff") format("woff"),
   url("/fonts/Helvetica/HelveticaHeavy/HelveticaHeavy.ttf") format("truetype");
   font-style: normal;
   font-weight: normal;
 }

 @font-face {
   font-family: "HelveticaMedium";
   src: url("/fonts/Helvetica/HelveticaMedium/HelveticaMedium.eot");
   src: url("/fonts/Helvetica/HelveticaMedium/HelveticaMedium.eot?#iefix")format("embedded-opentype"),
   url("/fonts/Helvetica/HelveticaMedium/HelveticaMedium.woff") format("woff"),
   url("/fonts/Helvetica/HelveticaMedium/HelveticaMedium.ttf") format("truetype");
   font-style: normal;
   font-weight: normal;
 }

 @font-face {
   font-family: "HelveticaThin";
   src: url("/fonts/Helvetica/HelveticaThin/HelveticaThin.eot");
   src: url("/fonts/Helvetica/HelveticaThin/HelveticaThin.eot?#iefix")format("embedded-opentype"),
   url("/fonts/Helvetica/HelveticaThin/HelveticaThin.woff") format("woff"),
   url("/fonts/Helvetica/HelveticaThin/HelveticaThin.ttf") format("truetype");
   font-style: normal;
   font-weight: normal;
 }

 @font-face {
   font-family: "HelveticaUltraLight";
   src: url("/fonts/Helvetica/HelveticaUltraLight/HelveticaUltraLight.eot");
   src: url("/fonts/Helvetica/HelveticaUltraLight/HelveticaUltraLight.eot?#iefix")format("embedded-opentype"),
   url("/fonts/Helvetica/HelveticaUltraLight/HelveticaUltraLight.woff") format("woff"),
   url("/fonts/Helvetica/HelveticaUltraLight/HelveticaUltraLight.ttf") format("truetype");
   font-style: normal;
   font-weight: normal;
 }

 @font-face {
   font-family: "HelveticaBoldItalic";
   src: url("/fonts/Helvetica/HelveticaBoldItalic/HelveticaBoldItalic.eot");
   src: url("/fonts/Helvetica/HelveticaBoldItalic/HelveticaBoldItalic.eot?#iefix")format("embedded-opentype"),
   url("/fonts/Helvetica/HelveticaBoldItalic/HelveticaBoldItalic.woff") format("woff"),
   url("/fonts/Helvetica/HelveticaBoldItalic/HelveticaBoldItalic.ttf") format("truetype");
   font-style: normal;
   font-weight: normal;
 }

 @font-face {
   font-family: "HelveticaBlackItalic";
   src: url("/fonts/Helvetica/HelveticaBlackItalic/HelveticaBlackItalic.eot");
   src: url("/fonts/Helvetica/HelveticaBlackItalic/HelveticaBlackItalic.eot?#iefix")format("embedded-opentype"),
   url("/fonts/Helvetica/HelveticaBlackItalic/HelveticaBlackItalic.woff") format("woff"),
   url("/fonts/Helvetica/HelveticaBlackItalic/HelveticaBlackItalic.ttf") format("truetype");
   font-style: normal;
   font-weight: normal;
 }

 @font-face {
   font-family: "HelveticaLightItalic";
   src: url("/fonts/Helvetica/HelveticaLightItalic/HelveticaLightItalic.eot");
   src: url("/fonts/Helvetica/HelveticaLightItalic/HelveticaLightItalic.eot?#iefix")format("embedded-opentype"),
   url("/fonts/Helvetica/HelveticaLightItalic/HelveticaLightItalic.woff") format("woff"),
   url("/fonts/Helvetica/HelveticaLightItalic/HelveticaLightItalic.ttf") format("truetype");
   font-style: normal;
   font-weight: normal;
 }

 @font-face {
   font-family: "HelveticaMediumItalic";
   src: url("/fonts/Helvetica/HelveticaMediumItalic/HelveticaMediumItalic.eot");
   src: url("/fonts/Helvetica/HelveticaMediumItalic/HelveticaMediumItalic.eot?#iefix")format("embedded-opentype"),
   url("/fonts/Helvetica/HelveticaMediumItalic/HelveticaMediumItalic.woff") format("woff"),
   url("/fonts/Helvetica/HelveticaMediumItalic/HelveticaMediumItalic.ttf") format("truetype");
   font-style: normal;
   font-weight: normal;
 }

 @font-face {
   font-family: "HelveticaHeavyItalic";
   src: url("/fonts/Helvetica/HelveticaHeavyItalic/HelveticaHeavyItalic.eot");
   src: url("/fonts/Helvetica/HelveticaHeavyItalic/HelveticaHeavyItalic.eot?#iefix")format("embedded-opentype"),
   url("/fonts/Helvetica/HelveticaHeavyItalic/HelveticaHeavyItalic.woff") format("woff"),
   url("/fonts/Helvetica/HelveticaHeavyItalic/HelveticaHeavyItalic.ttf") format("truetype");
   font-style: normal;
   font-weight: normal;
 }

 @font-face {
   font-family: "HelveticaThinItalic";
   src: url("/fonts/Helvetica/HelveticaThinItalic/HelveticaThinItalic.eot");
   src: url("/fonts/Helvetica/HelveticaThinItalic/HelveticaThinItalic.eot?#iefix")format("embedded-opentype"),
   url("/fonts/Helvetica/HelveticaThinItalic/HelveticaThinItalic.woff") format("woff"),
   url("/fonts/Helvetica/HelveticaThinItalic/HelveticaThinItalic.ttf") format("truetype");
   font-style: normal;
   font-weight: normal;
 }

 @font-face {
   font-family: "HelveticaUltraLightItalic";
   src: url("/fonts/Helvetica/HelveticaUltraLightItalic/HelveticaUltraLightItalic.eot");
   src: url("/fonts/Helvetica/HelveticaUltraLightItalic/HelveticaUltraLightItalic.eot?#iefix")format("embedded-opentype"),
   url("/fonts/Helvetica/HelveticaUltraLightItalic/HelveticaUltraLightItalic.woff") format("woff"),
   url("/fonts/Helvetica/HelveticaUltraLightItalic/HelveticaUltraLightItalic.ttf") format("truetype");
   font-style: normal;
   font-weight: normal;
 }