<div class="document__wrapper">
    <section class="first-block cd-section" id="section1">
        <header>
            <div class="wrapper">
                <div class="rowz">
                    <div class="logo__wrapper logo__wrapper-mobile">
                        <div class="logo">
                            <a class="logo__link" href="/">
                                <img src="/img/logo.png" class="">
                            </a>
                        </div>
                        <div class="logo__text">
                            <h1>
                                Footbik Token
                            </h1>
                        </div>
                    </div>
                    <div class="burger cd-nav-trigger">
                        <img class="burger" src="/img/ic_burger.svg">
                    </div>
                    <div class="social">
                        <a class="social__item" target="_blank"
                           href="https://www.facebook.com/Football-Global-Net-PLC-187922921899489/?modal=admin_todo_tour">
                            <img src="/img/fb_ic.svg">
                        </a>
                        <a class="social__item" target="_blank" href="https://www.instagram.com/footballglobalnet/">
                            <img src="/img/ic_inst.svg">
                        </a>
                        <a class="social__item" target="_blank" href="https://twitter.com/global_plc?lang=en">
                            <img src="/img/ic_twi.svg">
                        </a>
                        <a class="social__item" target="_blank" href="#">
                            <img src="/img/ic_youtube.svg">
                        </a>
                        <a class="social__item" target="_blank"
                           href="https://www.linkedin.com/in/football-global-net-plc-185811167/">
                            <img src="/img/ic_linked.png">
                        </a>
                        <a class="social__item" target="_blank" href="https://t.me/footballglobalnet">
                            <img src="/img/telegram-logo.svg">
                        </a>
                    </div>
                    <div class="menu">
                        <a class="custom__btn custom__btn-dark bounty" target="_blank"
                           href="https://bitcointalk.org/index.php?action=profile">
                            BOUNTY
                        </a>
                        <a class="custom__btn registration whitelist">
                            РЕГИСТРАЦИЯ
                        </a>
                        <!--<div class="custom-select">-->
                        <!--<select>-->
                        <!--<option data-value="ru" data-url="/ru.html" value="0">РУ</option>-->
                        <!--<option data-value="en" data-url="/" value="1">EN</option>-->
                        <!--</select>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </header>