{% extends "cabinet.html" %}
{% load static %}
{% load i18n %}

{% block header_scripts %}{% endblock header_scripts %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card-group">
                <!-- Card -->
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="m-r-10">
                                <span class="btn btn-circle btn-lg bg-danger">
                                    <i class="ti-clipboard text-white"></i>
                                </span>
                            </div>
                            <div>
                                 {% trans 'Всего людей в структуре' %}
                            </div>
                            <div class="ml-auto">
                                <h2 class="m-b-0 font-light">{{ my_stucture }}</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Card -->
                <!-- Card -->
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="m-r-10">
                                <span class="btn btn-circle btn-lg btn-info">
                                    <i class="ti-wallet text-white"></i>
                                </span>
                            </div>
                            <div>
                                 {% trans 'Лично приглашённых' %}
                            </div>
                            <div class="ml-auto">
                                <h2 class="m-b-0 font-light">{{ my_people }}</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Card -->
                <!-- Card -->
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="m-r-10">
                                <span class="btn btn-circle btn-lg bg-success">
                                    <i class="ti-shopping-cart text-white"></i>
                                </span>
                            </div>
                            <div>
                                 {% trans 'Баллы' %}
                            </div>
                            <div class="ml-auto">
                                <h2 class="m-b-0 font-light">{{ points.left_points }} / {{ points.right_points }}</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Card -->
                <!-- Card -->
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="m-r-10">
                                <span class="btn btn-circle btn-lg bg-warning">
                                    <i class="mdi mdi-currency-usd text-white"></i>
                                </span>
                            </div>
                            <div>
                                 {% trans 'Ранг' %}
                            </div>
                            <div class="ml-auto">
                                <h2 class="m-b-0 font-light">{{ user.rang }}</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Card -->
                <!-- Column -->
            
            
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{% trans 'Последние новости' %}</h4>
                    <div class="feed-widget scrollable ps-container ps-theme-default" style="height:450px;" data-ps-id="fbba4cb8-1e7a-d7de-8c01-77e8cc18fb05">
                        <ul class="list-style-none feed-body m-0 p-b-20">
                            {% for news in last_news %}
                                <li class="feed-item">
                                    <div class="feed-icon bg-info">
                                        <i class="far fa-bell"></i>
                                    </div>
                                    <a href="#">{{ news.title }}</a>
                                    <span class="ml-auto font-12 text-muted">{{ news.created }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                            <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                        </div>
                        <div class="ps-scrollbar-y-rail" style="top: 0px; right: 3px;">
                            <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block footer_scripts %}{% endblock footer_scripts %}