{% extends 'cabinet.html' %}
{% load i18n %}
{% load static %}

{% block headed_scripts %}
    <script type="text/javascript" src="{% static 'getorgchart/getorgchart.js' %}"></script>
{% endblock headed_scripts %}

{% block content %}{% endblock content %}

{% block footer_scripts %}
    <link rel="stylesheet" type="text/css" href="{% static 'getorgchart/getorgchart.css' %}">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript">

        function renderNodeHandler(sender, args) {
            for (i = 0; i < args.content.length; i++) {
                if (args.content[i].indexOf(args.node.data["rang"]) != -1) {
                    args.content[i] = "<foreignObject x='460' y='-45' width='54' height='42'>" + args.node.data["rang"] + "</foreignObject>";
                }
                if (args.content[i].indexOf(args.node.data["package_title"]) != -1) {
                    args.content[i] = "<foreignObject x='0' y='-45' width='54' height='42'>" + args.node.data["package_title"] + "</foreignObject>";
                }
            }
        }

        var peopleElement = document.getElementById("tree");
        var orgChart = new getOrgChart(peopleElement, {
            renderNodeEvent: renderNodeHandler,
            color: "green",
            enableEdit: false,
            enableSearch: true,
            enableDetailsView: false,
            enableZoomOnNodeDoubleClick: true,
            linkType: "M", //"B"
            primaryFields: ["full_name", "name", "rang", "package_title"],
            photoFields: ["image"],
            expandToLevel: 15,
            scale: 0.4,
            dataSource: [
                {% for node in nodes %}
                    {
                        id: {{ node.id }},
                        parentId: {% if node.parent %}{{ node.parent }}{% else %}null{% endif %},
                        name: "{{ node.user__unique_number }}",
                        full_name: "{{ node.user__first_name }} {{ node.user__last_name }}",
                        image: "{% if node.user__avatar %}/media/{{ node.user__avatar }}{% else %}{% endif %}",
                        rang: "{% if node.user__rang__title %}<span class='package_weight'><i class='fa fa-3x fa-circle rang-{{ node.user__rang__title }}'></i></span>{% else %}<span class='hidden'>1</span>{% endif %}",
                        package_title: "{% if node.user__package__title %}<span class='package_weight'><i class='fa fa-3x fa-battery package-{{ node.user__package__title }}'></i></span>{% else %}<span class='hidden'>1</span>{% endif %}"
                    },
                {% endfor %}
            ],
            customize: {
                {% for node in nodes %}
                    {% if not node.user__profile__active %}"{{ node.id }}": {color: "neutralgrey"},{% endif %}
                {% endfor %}
            }
        });

    </script>
    <style>
    html,
    body {
        margin: 0px;
        padding: 0px;
        height: 100%;
        overflow: hidden;
    }
    #tree {
        width: calc(100vw - 290px);
        position: relative;
        top: 60px;
        left: 270px;
    }
    </style>
{% endblock footer_scripts %}