{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html dir="ltr" lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="vintkor">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'adminbite' %}/assets/images/favicon.png">
    <title>{% block page_title %}CryptoTrade{% endblock %}</title>
    <link href="{% static 'adminbite' %}/dist/css/style.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="{% static 'adminbite' %}/assets/libs/jquery/dist/jquery.min.js"></script>

    {% block headed_scripts %}{% endblock %}
</head>

<body>

    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div id="main-wrapper">

        {% include 'cabinet_parts/_header.html' %}
        {% include 'cabinet_parts/_left-sidebar.html' %}

        <div id="tree"></div>
        <div class="page-wrapper" style="overflow-x: scroll;">

            {% if messages %}
                {% for message in messages %}
                    <div class="col-12">
                    <div class="col-12">
                        <div class="alert alert-{{ message.tags }}">{{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
                        </div>
                    </div>
                    </div>
                {% endfor %}
            {% endif %}

            {% if not perms.user_profile.is_verified %}
                <div class="col-12">
                    <div class="alert alert-danger" style="font-size: 1.6em">
                        {% trans 'Вам необходимо пройти верификацию' %}
                        &rarr; <a href="{% url 'user:verification' %}">{% trans 'Верификация' %}</a>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
                    </div>
                </div>
            {% endif %}

            {% block content %}
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    This is some text within a card block.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock content %}
            <footer class="footer text-center">
                All Rights Reserved. Designed and Developed by <a href="//gofriends.pro" target="_blank">GoFriends</a>
            </footer>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" id="modalContent"></div>
        </div>
    </div>

    <script src="{% static 'adminbite' %}/assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="{% static 'adminbite' %}/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="{% static 'adminbite' %}/dist/js/app.min.js"></script>
    <script src="{% static 'adminbite' %}/dist/js/app.init.js"></script>
    <script src="{% static 'adminbite' %}/dist/js/app-style-switcher.js"></script>
    <script src="{% static 'adminbite' %}/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="{% static 'adminbite' %}/assets/extra-libs/sparkline/sparkline.js"></script>
    <script src="{% static 'adminbite' %}/dist/js/waves.js"></script>
    <script src="{% static 'adminbite' %}/dist/js/sidebarmenu.js"></script>
    <script src="{% static 'adminbite' %}/dist/js/custom.js"></script>

    {% block footer_scripts %}{% endblock %}

    <link rel="stylesheet" href="{% static 'main.css' %}">
    <script src="{% static 'main.js' %}"></script>
</body>

</html>
