{% extends 'cabinet.html' %}
{% load i18n %}
{% load static %}

{% block page_title %}{% endblock page_title %}
{% block headed_scripts %}{% endblock headed_scripts %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{% trans 'Вывод средств' %}</h4>
                    <p>Вывод средсв будет включён через несколько дней</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block footer_scripts %}{% endblock footer_scripts %}
